---
layout: page
blog: true
title: Blog
---

<h1>Blog posts</h1>

{% assign posts = site.posts | sort: 'date' | reverse %}
{% if posts.size == 0%}
  <p>Coming soon!</p>
{% endif %}

{% for post in posts %}
  <article class="entry">
    <div class="pure-g">
      <div class="pure-u-1-5">
        {{ post.date | date: "%b %-d, %Y" }}
      </div>
      <div class="pure-u-3-5 column-padding">
        {% if post.external_url %}
          <a href="{{ post.external_url }}">{{ post.title }}</a>
        {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% endif %}
      </div>
      <div class="pure-u-1-5">
        {% if post.authors %}
          {% assign authors = post.authors %}
        {% else %}
          {% assign authors = "" | split: "," %}
          {% assign authors = authors | push: post.author %}
        {% endif %}

        {% for author in authors  %}
          {% if site.data.authors[author] %}
            {{ site.data.authors[author].name }}{% unless forloop.last %},{% endunless %}
          {% else %}
            {{ author }}{% unless forloop.last %},{% endunless %}
          {% endif %}
        {% endfor %}
      </div>
  </article>
{% endfor %}