---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

$baseurl: "{{ site.baseurl }}";

$body-font: 'Control-Upright', sans-serif;
$heading-font: 'Control-Italic', sans-serif;

// $foreground: #203195;
// $background: #E3D9C9;
// $accent: #E3D961;

$foreground: #3762A4;
$background: #F9ECE1;
$accent-yellow: #e7d37a;
$accent-pink: #F3BBC9;

@font-face {
	font-family: 'Control-Cursive';
	src: url('/assets/ControlCursive-VF-Web.woff2') format('woff2'),
		 url('/assets/ControlCursive-VF-Web.woff') format('woff');
	font-style: normal;
}


@font-face {
	font-family: 'Control-Italic';
	src: url('/assets/ControlItalic-VF-Web.woff2') format('woff2'),
		 url('/assets/ControlItalic-VF-Web.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Control-Upright';
	src: url('/assets/ControlUpright-VF-Web.woff2') format('woff2'),
		 url('/assets/ControlUpright-VF-Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@mixin for-md-down {
  @media screen and (max-width: 47.9em) { @content }
}

@mixin for-md-up {
  @media screen and (min-width: 48em) { @content }
}

@import 'pure.scss';
@import 'scaffold.scss';
@import 'header.scss';
@import 'about.scss';
@import 'lists.scss';
@import 'papers.scss';
@import 'research_themes.scss';
