<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" href="{{ '/main.css' | relative_url }}" type="text/css" />
<link rel="icon" href="{{ '/favicon.svg' | relative_url }}">

{% seo title=false %}

<title>{% if page.title %}{{page.title}} | {{site.title}}{% else %}{{site.title}}{% endif %}</title>

{% unless page.image %}
  {% if page.slug %}
    <meta property="og:image" content="{{site.url}}/imgs/thumbs/{{page.slug}}.png" />
    <meta property="twitter:image" content="{{site.url}}/imgs/thumbs/{{page.slug}}.png" />
  {% endif %}
{% endunless %}
