<nav id="menu">
  <a href="/" {% if page.home %}class="selected"{% endif %}>Home</a>
  <details>
    <summary>About Us</summary>
    <a href="/about" {% if page.about %}class="selected"{% endif %}>About</a>
    <a href="/press" {% if page.press %}class="selected"{% endif %}>Press</a>
  </details>
  <details>
    <summary>Our Work</summary>
    <a href="/research" {% if page.research %}class="selected"{% endif %}>Research&nbsp;Themes</a>
    <a href="/projects" {% if page.projects %}class="selected"{% endif %}>Projects</a>
    <a href="/publications" {% if page.collection == 'pubs' or page.title == 'Publications' %}class="selected"{% endif %}>Publications</a>
  </details>
  {% comment %} <a href="/courses" {% if page.courses %}class="selected"{% endif %}>Courses</a> {% endcomment %}
  <a href="/blog" {% if page.blog %}class="selected"{% endif %}>Blog</a>
</nav>