.post {

  .preface {
    font-style: italic;
    font-size: 0.8em;
  }

  #post-header {
    .title {
      margin-top: 0;
      margin-bottom: 1rem;
    }
    #date {
      font-size: 0.8em;
    }
    #author-container {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
    }
    #author-photo {
      margin: 0;
      margin-right: 1em;
    }
    #author-photo, #author-photo img {
      width: 50px;
      height: 50px;
    }
  }

  #break {
    border-bottom: 2px solid $foreground;
    margin: 1em 0;
  }

  #post-content {
    padding-bottom: 1em;

    p:first-child {
      margin-top: 0;
    }

    p {
      line-height: 1.5;
    }
  }
}