// papers list
#pubs {
  .publication {
    margin-bottom: 3em;
    font-size: 0.8em;
    line-height: 1.25;

    @include for-md-up {
      .year {
        margin: 0;
      }
    }

    .title {
      margin: 0;
      font-size: 1rem;

      a {
        text-decoration: none;
      }
    }

    .award {
      font-style: italic;
      font-weight: bold;
    }

    .authors a, .doi a {
      text-decoration: none;
    }

    .links {
      margin-top: 0.5em;
      a {
        margin-right: 0.3em;
      }
    }
  }
}

// individual paper template
#paper {

  .title {
    margin-top: 0;
    @include for-md-down {
      font-size: 1.5rem;
    }
  }

  #paper-metadata, .connections {
    font-size: 0.8em;
  }

  #paper-metadata {
    padding-right: 1em;
  }

  #paper-links {
    border-top: 2px solid $foreground;
    border-bottom: 2px solid $foreground;

    a {
      margin-right: 0.5em;
    }
  }

  .connections {
    margin-bottom: 1em;

    a {
      text-decoration: none;
    }
  }

  .connections-header {
    font-weight: bold;
  }

  #paper-content {
    padding: 1em 0;
    p {
      line-height: $post-line-height;

      @include for-md-down {
        line-height: $post-line-height-mobile;
      }
    }
  }

  .title {
    font-style: normal;
  }

  .award {
    font-style: italic;
    font-weight: bold;
  }

  .author {
    vertical-align: top;
    margin-bottom: 1em;
    display: inline-block;
    margin-right: 1.5em;
  }

  .affiliation {
    margin-top: 0.2rem;
    font-size: 0.6rem;
  }
}