// papers list
#pubs {
  .publication {
    margin-bottom: 3em;
    font-size: 0.8em;
    line-height: 1.25;

    @include for-md-up {
      .year {
        margin: 0;
      }
    }

    .title {
      margin: 0;
      font-size: 1rem;

      a {
        text-decoration: none;
      }
    }

    .award {
      font-style: italic;
      font-weight: bold;
    }

    .authors a, .doi a {
      text-decoration: none;
    }

    .links {
      margin-top: 0.5em;
    }
  }
}

// individual paper template
#paper {
  #paper-header {
    padding-bottom: 2em;
    border-bottom: 2px solid $foreground;
  }

  #paper-content {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .title {
    font-style: normal;
  }

  .award {
    font-style: italic;
    font-weight: bold;
  }

  .author {
    margin-bottom: 1em;
  }

  .affiliation {
    margin-top: 0.2rem;
    font-size: 0.6rem;
  }
}