// project list
#projects {
  .project {
    padding: 0 1em;
    margin-bottom: 3em;

    @include for-md-down {
      padding: 0;
    }

    h2 {
      margin: 0.3em 0;
    }

    a {
      text-decoration: none;
    }

    img {
      width: 100%;
      display: block;
      border: 1px solid $foreground;
    }
  }
}

// individual project page
#project {
  li {
    margin: 0.5em 0;
  }
  .project-meta, .project-references li {
    font-size: 0.8em;
  }
}
