.pub {
  font-size: 0.8em;

  a {
    text-decoration: none;
  }

  .title, .award {
    font-weight: bold;
  }

  .title .hanging-quote {
    margin: 0;
  }
}

.themes-list {
  li {
    margin: 0.5em 0;
  }
}

.theme {
  margin-bottom: 4em;
}