html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 3px $foreground;
}

@media (any-pointer: fine) {
  // only if the device is not a touchscreen
  *:hover, *:active {
    box-shadow: inset 0 0 0 1px $foreground;
  }
}

html, body {
  margin:0;
  color: $foreground;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.3;
  // background-color: $background;
  // background-image:  radial-gradient(rgba($foreground, 0.1) 3px, transparent 1px), radial-gradient(rgba($foreground, 0.1) 3px, $background 1px);
  // background-size: 50px 50px;
  // background-position: 0 0,25px 25px;
}

html, button, input, select, textarea {
  font-family: $body-font;
}

body {
  padding: 15px 30px;
  padding-bottom: 30px;

  @include for-md-down {
    padding: 15px;
  }
}

#container {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

.monotone {
  background: $foreground;
}

.monotone img {
  display: block;
  mix-blend-mode: screen;
  filter: grayscale(100%);
  opacity: 1;
  border: 1px solid $foreground;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  font-style: italic;
}

h1 {
  font-style: italic;
}

.box {
  border: 2px solid $foreground;
  padding: 1em;
}

li {
  margin-bottom: 1rem;
}

::selection {
  background: $foreground;
  color: $accent;
}

.cta {
  background: $foreground;
  color: $accent;
  font-style: italic;
  &:hover {
    font-style: normal;
  }
}

.arrow-link {
  display: block;
  margin-left: 2em;
}

.hanging-quote:first-child {
  margin-left: -0.5em;
}

.column-padding {
  padding-right: 1em;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

#p5-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  pointer-events: none;
  top: 0;
  left: 0;

  canvas {
    position: relative;
    top: 0;
    left: 0;
  }
}