---
layout: page
---

<article class="post">
  <div id="post-header" class="pure-u-1  pure-u-md-3-4">
    <h1 class="title">{{page.title}}</h1>
    <div id="author">
      {% if site.data.authors[page.author] %}
        {{ site.data.authors[page.author].name }}
      {% else %}
        {{ page.author }}
      {% endif %}
    </div>
    <div id="date">{{ page.date | date: "%b %-d, %Y" }}</div>
  </div>
  <div id="break" class="pure-u-1"></div>
  <div id="post-content" class="pure-u-1  pure-u-md-3-4">
    {{ content }}
  </div>
</article>


