---
layout: page
---

<article class="post pure-g">
  <div id="post-header" class="pure-u-1  pure-u-md-3-4">
    <h1 class="title">{{page.title}}</h1>
    {% if page.authors %}
      {% assign authors = page.authors %}
    {% else %}
      {% assign authors = "" | split: "," %}
      {% assign authors = authors | push: page.author %}
    {% endif %}
    {% for author in authors  %}
      <div id="author-container">
        {% if site.data.authors[author] %}
          {% assign person = site.data.authors[author] %}
          <div id="author-photo" class="portrait textured">
            <a href="{{person.url}}">
              <img src="/imgs/people/{{author}}.jpg" alt="{{person.name}}" />
            </a>
          </div>
        {% endif %}
        <div id="author">
          {% if site.data.authors[author] %}
            {{ site.data.authors[author].name }}
          {% else %}
            {{ author }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <div id="date">{{ page.date | date: "%b %-d, %Y" }}</div>
  </div>
  <div id="break" class="pure-u-1"></div>
  <div id="post-content" class="pure-u-1  pure-u-md-3-4">
    {{ content }}
  </div>
</article>


