---
layout: page
---
  {{page.title}}
  {{page.description | capitalize}}
  {{content}}

  <h4>
    Publications
  </h4>

  <ul>
    {% assign pubYears = site.pubs | group_by:"year" | sort: "title" | reverse %}
    {% for year in pubYears %}
      {% assign pubs = year.items %}
      {% for pub in pubs %}
        {% if pub.projects and pub.projects contains page.key %}
          {% assign url = pub.external_url | default: pub.url | relative_url | replace: 'index.html', '' %}
          {% capture authors %}
            {% for author in pub.authors %}
              {% assign person = site.data.authors[author.key] %}
              {% assign name = author.name | default:person.name %}
              {% if person.url or author.url %}
                <a href="{{person.url | default: author.url}}">{{name}}</a>{% if author.equal %}*{% endif %}{% unless forloop.last %}, {% endunless %}
              {% else %}
                {{name}}{% if author.equal %}*{% endif %}{% unless forloop.last %}, {% endunless %}
              {% endif %}
            {% endfor %}
          {% endcapture %}
          <li class="pub"><a href="{{url}}">{{pub.year}}. <span class="title">{{pub.title}}</span>. {{authors | strip }}. {{site.data.venues[pub.venue].short}}. <span class="award">{{pub.award}}</span></a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>